@model Web.Models.Administrator
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<style>
    a{text-decoration:none}
</style>
<body>

    <div class="login-form">
        <form method="post" asp-action="TryLogin" asp-controller="Login">
            <h1>Přihlásit se</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" asp-for="Username" placeholder="Přihlašovací jméno" required>
                </div>
                <div class="input-field">
                    <input  type="password" asp-for="Password" placeholder="Heslo" autocomplete="new-password" required>
                </div>
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            </div>
            <div class="action">
                <button><a href='javascript:history.go(-1)'>Jít zpět</a></button>
                <button type="submit">Přihlásit se</button>
            </div>
        </form>
    </div>
</body>
</html>
