@media only screen and (min-width: 700px) {

    #picture5,#picture6,#picture7,#picture8{display: flex;}


    .offering{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
  main{
        max-width: 1200px;
    }
    .alltomid{
        display: flex;
        justify-content: center;
        margin: 0 auto
    }


    #nlText2 br{display: none}
}

@media only screen and (min-width: 989px){
    .circleInfo{
        flex-direction: row;
        padding: 0;
        gap: 0;
    }
    .circleInfo a{
        flex:1;
        justify-content: space-evenly;
        gap: 0
    }
}
@media only screen and (min-width: 1200px) {
    .product {
        border: 4px solid #b4bed5;
        clip-path: polygon(calc(0% + 3px) calc(0% + 3px), calc(100% - 2px) calc(0% + 3px), calc(100% - 2px) calc(100% - 3px), calc(0% + 3px) calc(100% - 3px));
        transition: clip-path 0.6s linear, border-color 1s;
    }
    .product:hover{
        border-color:#c7232f;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .product p{
        transition: text-shadow 0.3s;
    }
    .producthover >p{
        text-shadow: 1px 0 0 #304068;
        font-weight: normal;
    }


}
